body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.widget-radio {
  height: 50vh;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  background: linear-gradient(180deg, #084b7f 0%, #013762 50%);
  max-height: 150px;
  display: flex;
  flex-flow: row nowrap;
  padding: 0 20px;
}

.widget-radio .logo {
  width: 15%;
  display: flex;
  align-items: center;
}

.widget-radio .logo .logo-container {
  width: 100%;
  max-height: 80px;
}

.widget-radio .logo .logo-container img {
  height: 100%;
  object-fit: contain;
}

/*
.widget-radio .live-indicator {
  width: calc(10% - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.widget-radio .live-indicator .live {
  width: 100%;
  background-color: #e63946;
  border-radius: 5px;
  color: #fff;
  padding: 1px 10px;
}

.widget-radio .live-indicator .live p {
  position: relative;
  margin-block-start: 10px;
  margin-block-end: 10px;
  padding-left: 30px;
}
.widget-radio .live-indicator .live p::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 3%;
  background: url("../images/radio/icons/radio-icon.svg") no-repeat;
}
*/

.widget-radio .radio-player {
  width: calc(60% - 40px);
  position: relative;
  margin: 0 20px;
}

.widget-radio .radio-player .video-js {
  top: 40px;
  color: #004d8d;
}

.widget-radio .radio-player .vjs-big-play-button {
  display: none;
}

.widget-radio
  .radio-player
  .video-js
  .vjs-big-play-button
  .vjs-icon-placeholder:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.widget-radio
  .radio-player
  .vjs-has-started.vjs-user-inactive.vjs-playing
  .vjs-control-bar {
  opacity: 1;
}

.widget-radio .radio-player .vjs_video_3-dimensions.vjs-fluid {
  padding-top: 0%;
}

.widget-radio .radio-player .video-js .vjs-control-bar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border-radius: 50px;
}

.widget-radio
  .radio-player.vjs-button.vjs-control.vjs-menu-button.vjs-menu-button-popup.vjs-playback-rate,
.widget-radio .radio-player .video-js .vjs-picture-in-picture-control,
.widget-radio .radio-player .video-js .vjs-fullscreen-control {
  display: none;
}

.widget-radio .radio-player .vjs-playback-rate,
.widget-radio .radio-player .vjs-picture-in-picture-control,
.widget-radio .radio-player .vjs-fullscreen-control {
  display: none;
}

.widget-radio .radio-player .video-js .vjs-play-progress, .video-js .vjs-volume-level {
  background: #004d8d;
}

.widget-radio .slideshow {
  width: calc(25% - 20px);
  display: flex;
  align-items: center;
  margin-left: 20px;
  position: relative;
}

.widget-radio .slideshow .item {
  display: flex;
  align-items: center;
  justify-content: center;
}


/*
.widget-radio .slideshow .owl-carousel .owl-item:first-child .item {
  width: 40px;
  height: 50px;
}
.widget-radio .slideshow .owl-carousel .owl-item .item {
  width: 70px;
  height: 40px;
}

.widget-radio .slideshow .owl-carousel .owl-item .item img {
  width: 100%;
  height: 100%;
}
*/

@media (max-width: 320px) {
  .widget-radio .logo {
    width: 30%;
    display: flex;
    align-items: center;
  }

  /*
  .widget-radio .live-indicator {
    width: calc(25% - 10px);
    margin-left: 10px;
  }

  .widget-radio .live-indicator .live {
    padding: 1px 5px;
  }
  .widget-radio .live-indicator .live p {
    font-size: 12px;
    padding-left: 25px;
  }
  .widget-radio .live-indicator .live p::before {
    top: -5%;
  }
  */

  .widget-radio .radio-player {
    width: calc(45% - 20px);
    margin: 0 10px;
  }
  .widget-radio .radio-player .video-js .vjs-progress-control {
    display: none;
  }
  .widget-radio .radio-player .video-js .vjs-control {
    width: 3em;
  }
  .widget-radio .radio-player .video-js .vjs-control-bar {
    top: 50%;
    bottom: 0;
  }
}

@media only screen and (min-width: 321px) and (max-width: 500px) {
  /*
  .widget-radio .live-indicator .live p::before {
    display: none;
  }

  .widget-radio .live-indicator .live p {
    padding-left: 0;
  }
  */

  .widget-radio .radio-player .video-js .vjs-control-bar {
    top: 50%;
    bottom: 0;
  }
}
@media only screen and (min-width: 321px) and (max-width: 767px) {
  .widget-radio .logo {
    width: 30%;
    display: flex;
    align-items: center;
  }

  /*
  .widget-radio .live-indicator {
    width: calc(15% - 10px);
    margin: 0 10px;
    font-size: 12px;
  }
  */
  .widget-radio .radio-player {
    width: calc(55% - 10px);
    margin: 0 10px 0 0;
  }

  .widget-radio .radio-player .video-js .vjs-control-bar {
    top: 50%;
    bottom: 0;
  }
}

@media only screen and (max-width: 767px) {
  .widget-radio {
    padding: 10px 5px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /*
  .widget-radio .live-indicator {
    width: calc(15% - 20px);
  }
  */
  .widget-radio .radio-player {
    width: calc(70% - 20px);
    margin: 0 0 0 20px;
  }
}
